<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tatsuowatanabe.postalcodetutorial.mapper.PostalMapper">
	<resultMap id="result" type="com.tatsuowatanabe.postalcodetutorial.entity.Postal">
		<result column="id"              property="id" />
		<result column="code"            property="code" />
		<result column="prefecture_name" property="prefecture_name" />
		<result column="prefecture_code" property="prefecture_code" />
		<result column="address1"        property="address1" />
		<result column="address2"        property="address2" />
	</resultMap>

	<sql id="findCondition">
		<where>
			<if test="code            != null and code            != ''">code like Concat(#{code}, '%')</if>
			<if test="prefecture_code != null and prefecture_code != ''">AND prefecture_code = #{prefecture_code}</if>
			<if test="address1        != null and address1        != ''">AND Concat(prefecture_name, address1, address2) Like Concat('%', #{address1}, '%')</if>
		</where>
	</sql>
	<select id="findLimited" resultMap="result">
		Select *
		From postal_info
		<include refid="findCondition" />
		Limit #{limit}
	</select>
	<select id="foundRows" resultType="int">
		Select Count(*) From postal_info <include refid="findCondition" />
	</select>
	
	<resultMap id="resultPrefecture" type="com.tatsuowatanabe.postalcodetutorial.entity.Prefecture">
		<result column="code"            property="code" />
		<result column="prefecture_name" property="prefectureName" />
	</resultMap>
	<select id="findPrefectures" resultMap="resultPrefecture">
		Select *
		From prefecture
		Order By code
	</select>

</mapper>